/* css reusable classes to reset the browser settings back to default*/

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  --font-base: "Spartan", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: var(--font-base);
}

.title{
  color: var(--very-dark-magenta);
  font-weight: 700; /* In this instance 1rem = 16px by browser default */
  font-size: 2.3rem;
  margin-right: -3rem;
  width: 40%;
  line-height: 2.4rem;
  margin-left: 4rem;
  margin-top: 4rem;
}

.description{
  color: var(--dark-grayish-magenta);
  font-weight: 500;
  text-align: left;
  line-height: 1.7rem;
  margin-right: 1rem;
  margin-left: 4rem;
  margin-top: 1rem;
  width: 51%;

}

.rating{
  /* margin: 0 auto; */
  display: flex;
  background-color: var(--light-grayish-magenta);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: .5rem;
  width: max-content;
  margin-left: 4rem;
  margin-top: 1rem;
}

.rating__star{
  justify-content: center;
  align-items: center;
  display: inline-block;
  margin: 0 auto;
}

.rating__star_group{
  margin-right: 1rem;

}

.rating__description{
  color: var(--very-dark-magenta);
  font-size: 1rem;
  text-align: center;
  margin-right: 2rem;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


.content{
  background-color: var(--very-dark-magenta);
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: .5rem;
}

.content__title{

}

.content__subtitle{

}

.content__description{

}
